@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* Header */
header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    left:0;
    right:0;
}

.top_section {
    background: url(./img/top_section/top_section-bg.png) center center;
    background-size: cover; 
    height: 100vh;
    position: relative;
}
.header_logo-wrap {
    position: relative;
}
.header_logo {
    width: 40px;
}
.header_logo-txt {
    width: 140px;
}
.header_logo-underTxt {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom:0;
    right:0;
}



.header_nav {
    border-bottom: 1px solid rgba(108,98,106,.6);
    margin: 30px 40px 0px;
    padding: 0 0 25px;
    z-index: 8;
}
.navbar-nav .nav-item .nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgba(183,171,85,.8);
}
.header-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(108,98,106,.6);
    color: whitesmoke;
    padding-right: 35px;
    width: 150px;
}
.header-input:focus {
    outline:none;
    border-color: rgb(55, 211, 55);
}
.input_group {
    display: inline-block;
    position: relative;
}
.header-input_img {
    position: absolute;
    right: 10px;
    top: 5px;
}

/* Top-section */

.top_section-imgWrap {
    display: flex;
    position: relative;
    height: 100%;
    z-index: 3;
    align-items: center;
    justify-content: center;
}
.top_section-mainTxt {
    font-size: 180px;
    transform: rotate(-8deg);
    color: rgba(255,255,255,.7);
    width: 370px;
    line-height: 130px;
    font-family: 'Cookie', cursive;
}

.dark-layer {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 2;
}
/* Header media*/

@media screen and (min-width: 1024px) {
    .nav-link::after {
        content: '';
        display: none;
        height: 1px;
        background-color: rgba(183,171,85,.8);
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link:hover {
        color: rgba(183,171,85,.8);
    }
    .nav-link:hover::after {
        display: block;
        bottom: -34px;
    }
    .input_group {
        display: flex;
    }
    .top_menu-input_img {
        position: absolute;
        right: 10px;
    }
}

/* advantages*/

.advantages_title {
    padding: 100px 50px;
    text-align: center;
}
.advantages_wrap {
    padding: 0 70px 50px;
}
.advantages_inner {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    
}
.advantages_inner-img {
    display: inline-flex;
    width: 50px;
    height: 50px;
}
.advantages_inner-text {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    border-left: 1px solid rgba(108,98,106,.4);
    padding-left: 10px;
}



.value {
    padding: 35px 70px;
    text-align: center;
    background-color: rgba(0,0,0,.9);
    color: whitesmoke;
}
.value_inner h2 {
    padding-bottom: 40px;
    
}
.value_inner img {
    padding-bottom: 40px;
}
.value_inner span {
    padding-bottom: 40px;
    color: rgb(255,235,59);
    font-weight: bold;
}


.portfolio {
    text-align: center;
    padding: 100px 60px;
}
.portfolio h1 {
    padding-bottom: 30px;
}
.portfolio span {
    display: block;
    padding-bottom: 30px;
}
.portfolio_nav-wrap {
    display: flex;
    justify-content: center;
}
.portfolio .nav-link {
    padding: 5px 20px;
    border:1px solid rgb(255,218,0);
    border-radius: 5px;
}
.portfolio .nav-link {
    margin-left: 15px;
}
.portfolio .nav-link:hover {
    background-color: rgb(255,218,0);
    color: white;
    cursor: pointer;
}